
body{
    margin: 0;

    padding: 0;
    background-color: gainsboro;
}
#ads_photo{
    height: 490px;
    width: 620px;
}

.first{
    background-color: white;
    height: 490px;
}

.horizontal{
    display: flex;
    gap: 10px;
}
.all{
    display: flex;
    gap: 10px;
}
.aside{
    display: grid;
    align-items: center;
    background-color: white;
}

input{
    height: 45px;
    width: 150px;
}

#navigation_bar{
    height: 100%;
    flex: 0.2;
    border-right: 1px solid grey;
    padding-left: 10px;
    padding-right: 7px;
}

ul{
    list-style: none;
    padding: 0px;
}

li:hover{
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 3px;
}

li{
    display: flex;
    gap: 10px;
    padding: 8px;
    padding-left: 0px;
    border-radius: 4px;
    align-items: center;
    }
.middle{
    display: flex;
    align-items: center;
    background-color: rgb(215, 15, 15);
    justify-content: space-between;

    
}
.icon_js{
    display: flex;
    align-items: center;
}
.narrow_div{
    display: flex;
    align-items: center;
    
}
h4{
    color: white;
}
.content{
    display: flex;
    gap: 25px;
    margin: 10px;
    background-color: white;
}
#footer{
    color: whitesmoke;
}
img{
    height: 100px;
    width: 200px;
}
.jumia_footer{
    display: flex;
    gap: 100px;
    font-size: 75rem;
}
.email_input{
    padding-left: 48px;
    -webkit-appearance: none;
    font-size: 1rem;
    height: 50px;
    box-shadow: none;
    border: 1px solid #a3a3a6;
    outline-offset: -2px;
    color: #313133;
    border-radius: 4px;
    overflow: visible;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 2px;
    cursor: text;
}
