body{
    background-color: gainsboro;
    
}



.official_delivery{
    display: flex;
    justify-content: space-between;
    gap: 29px;
    padding-top: 20px;
    padding-left: 35px;
    
    
    
}
.fsfs{
    flex: 0.7;
    background-color: white;
    height: 50vh;
    border-radius: 1px;
}
.drdr{
    flex: 0.3;
    background-color: white;
    height: 856px;
    width: 15px;

}

.down{
    display: flex;
}

.title{
    display: flex;
    
}

.color{
    color: chocolate;
}
.hads{
    display: grid;
}






